/*HomeWork1*/
h1{color:#A9A9A9;}
th{vertical-align:top;font-style:italic;text-align:left;color:#D3D3D3;}
table td, table th{padding: 10px;}
:root{background:rgb(128, 128, 128)}
.red_text{color: #e60e0c;}
body{font-family: sans-serif;}
.yellou_text{color:#EEE8AA}
.orange_text{color:#F4A460}
.grey_text{color:#A9A9A9}

