table{
	table-layout: fixed;
	border-collapse: separate;
	width: 50%;
	text-align: left;
	background-color: #ccc;

}
th{
	text-align: center;
	font-size: 50px;

}
td{
	text-align: right;
	overflow: auto;

}